<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posh Boutique Uganda | Shop online, All your favorite designers for men and women</title>
    <script src="https://kit.fontawesome.com/451579efa6.js" crossorigin="anonymous"></script>
        <!-- Customized Bootstrap Stylesheet -->
        <link href="public/css/style.css" rel="stylesheet">
        <!-- main css file -->
    <link rel="stylesheet" href="/public/css/main-styles.css">
        <!-- Libraries Stylesheet -->
        <link href="public/lib/animate/animate.min.css" rel="stylesheet">
        <link href="public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#"><h3>Posh Boutique</h3></a>
            <div class="nav-bars">
                <span></span>
                <span></span>
                <span></span>
            </div>  
            <div class="nav-links">
             <div class="links">
                <a href="#contact">Contact us</a>
                <a href="/shop">Shop</a>
                <a href="/offers">Offers</a>
                <a href="#categories">Categories</a>
             </div>  
            </div>  
        </nav>
        <div class="side-menu-links show-mobile-menu">
            <div class="side-bar">
                <div class="side-links">
                    <a href="/shop">Shop</a>
                    <a href="/offers">Offers</a>
                    <a href="#categories">Categories</a>
                    <a href="#contact">Contact us</a>
                </div>  
               </div>  

        </div>
    </header>

<main>
<section class="hero-section">
 <!-- Carousel Start -->
 <div class="container-fluid mb-2">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#header-carousel" data-slide-to="1"></li>
                    <!-- <li data-target="#header-carousel" data-slide-to="2"></li> -->
                </ol>
                <div class="carousel-inner">
                        <div class="carousel-item position-relative" style="height: 450px;">
                        <img class="position-absolute w-100 h-100" src="/public/img/men fashion.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Men Fashion</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item position-relative active" style="height: 450px;">
                        <img class="position-absolute w-100 h-100" src="/public/img/women.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Women Fashion</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="carousel-item position-relative" style="height: 430px;">
                        <img class="position-absolute w-100 h-100" src="public/img/carousel-3.jpg" style="object-fit: cover;">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">
                                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Kids Fashion</h1>
                                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <% //console.log(offers) %>
            <% offers[0].forEach(offer=>{ %>
              <div class="product-offer mb-30" style="height: 210px;">
                <img class="img-fluid" src="<%=offer.imageUrl %>" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save <%=offer.offerValue %></h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<!-- Carousel End -->
</section>
<section class="featured">
    
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->
</section>
<section class="categories" id="categories">
    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Categories</span></h2>
        <div class="row px-xl-5 pb-3">
            <% categories[0].forEach(category=>{ %>
            <%   const {categoryName, categoryPhoto}=category.fields; %>
            <% const { url } = categoryPhoto.fields.file; %>
            <% const imageUrl = `https:${url}` %>

            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <a class="text-decoration-none categories-link" 
                href="/categories/<%=category.sys.id %>">
                    <div class="cat-item d-flex align-items-center mb-4">
                        <div class="overflow-hidden" style="width: 100px; height: 100px;">
                            <img class="img-fluid" src="<%=imageUrl  %>" alt="">
                        </div>
                        <div class="flex-fill pl-3 categories-txt">
                            <h6 class="category-name"><%=categoryName  %></h6>
                            <small class="text-body">100 Products</small>
                        </div>
                    </div>
                </a>
            </div>    

           <% }) %>
        </div>
    </div>
    <!-- Categories End -->
</section>
<section class="featured-products" id="featured">    
    <!-- Products Start -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
        <div class="row px-xl-5">
            <% featuredProducts[0].forEach(prod=>{ %>
                <% const productId = prod.sys.id %>
                <% const {productName,productPhoto,productCurrentPrice,productOldPrice}=prod.fields ;%>
                 <% const { url } = productPhoto.fields.file; %>
                 <% const imageUrl = `https:${url}` %>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1" id="<%=productId %>">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="<%=imageUrl  %>" alt="">
                    </div>
                    <div class="text-center py-4">
                        <h6 class="h6 text-decoration-none text-truncate product-name"><%=productName %></h6>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>shs.<%=productCurrentPrice  %></h5><h6 class="text-muted ml-2"><del><%=productOldPrice %></del></h6>
                        </div>
                    <a href="#" class="order-product">Order <i class="fa fa-whatsapp" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>
          <%  }) %>

        </div>
    </div>
    <!-- Products End -->
</section>
<section class="offer">
    
    <!-- Offer Start -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <% offers[0].forEach(offer=> {%>
                <div class="col-md-6">
                    <div class="product-offer mb-30" style="height: 300px;">
                        <img class="img-fluid" src="<%=offer.imageUrl  %>" alt="">
                        <div class="offer-text">
                            <h6 class="text-white text-uppercase">Save <%=offer.offerValue  %></h6>
                            <h3 class="text-white mb-3">Special Offer</h3>
                            <a href="" class="btn btn-primary">Shop Now</a>
                        </div>
                    </div>
                </div>
             <%  }) %>
        </div>
    </div>
    <!-- Offer End -->
</section>

<section class="products" id="recent">    
        <!-- Products Start -->
        <div class="container-fluid pt-5 pb-3">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Recent Products</span></h2>
            <div class="row px-xl-5">
                <% recentProducts[0].forEach(prod=>{ %>
                    <% const productId = prod.sys.id %>
                    
                    <% const {productName,productPhoto,productCurrentPrice,productOldPrice}=prod.fields ;%>
                     <% const { url } = productPhoto.fields.file; %>
                     <% const imageUrl = `https:${url}` %>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1" id="<%=productId %>">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="<%=imageUrl  %>" alt="">
                        </div>
                        <div class="text-center py-4">
                            <h6 class="h6 text-decoration-none text-truncate product-name"><%=productName %></h6>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>shs.<%=productCurrentPrice  %></h5><h6 class="text-muted ml-2"><del><%=productOldPrice %></del></h6>
                            </div>
                        <a href="#" class="order-product">Order <i class="fa fa-whatsapp" aria-hidden="true"></i> </a>
    
                        </div>
                    </div>
                </div>
              <%  }) %>
    
            </div>
        </div>
        <!-- Products End -->
    </section>
</main> 
<section class="contact-us" id="contact">
    <div class="contact_us_green">
        <div class="responsive-container-block big-container">
          <div class="responsive-container-block container">
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-10 line" id="i69b-2">
              <form class="form-box" action="https://formsubmit.co/123c9581709f0b2a29af342da464e6dd" method="POST">
                <div class="container-block form-wrapper">
                  <div class="head-text-box">
                    <p class="text-blk contactus-head" style="text-align:center;">
                      Contact us
                    </p>
                  </div>
                  <div class="responsive-container-block">
                    <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt-6">
                      <p class="text-blk input-title">
                        First Name*
                      </p>
                      <input required type="text" class="input" id="ijowk-6" name="FirstName">
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                      <p class="text-blk input-title">
                        Last Name*
                      </p>
                      <input required type="text" class="input" id="indfi-4" name="Last Name">
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                      <p class="text-blk input-title">
                        Phone Number*
                      </p>
                      <input required type="number" class="input" id="imgis-5" name="Phone Number">
                    </div>
                    <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-6">
                      <p class="text-blk input-title">
                        What do you have in mind ?*
                      </p>
                      <textarea required class="textinput" name="Message" id="i5vyy-6" placeholder="Please enter query..."></textarea>
                    </div>
                  </div>
                  <div class="btn-wrapper">
                    <button type="submit" class="submit-btn">
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-5 wk-ipadp-10" id="ifgi">
              <div class="container-box">
                <div class="text-content">
                  <p class="text-blk contactus-head">
                    Contact us
                  </p>
                </div>
                <div class="workik-contact-bigbox">
                  <div class="workik-contact-box">
                    <div class="phone text-box">
                      <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET21.jpg">
                      <p class="contact-text">
                      <a href="tel:+97470923424">+1258 3258 5679</a>  
                      </p>
                    </div>
                    <div class="address text-box">
                      <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET22.jpg">
                      <p class="contact-text">
                       <a href="mailto:hello@poshboutiqueug.com">hello@poshboutiqueug.com</a> 
                      </p>
                    </div>
                    <div class="mail text-box">
                      <img class="contact-svg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET23.jpg">
                      <p class="contact-text">
                        102 street, y cross 485656
                      </p>
                    </div>
                  </div>
                  <div class="social-media-links">
                    <a href="">
                        <i class="fa fa-whatsapp icon-whatsapp" aria-hidden="true"></i>
                    </a>
                    <a href="">
                      <i class="fa fa-twitter icon-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram icon-instagram" aria-hidden="true"></i>  
                    </a>
                    <a href="">
                        <i class="fa fa-facebook icon-facebook" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section class="footer">
    <!--footer-->
<footer class="kilimanjaro_area">
<!-- Top Footer Area Start -->
<div class="foo_top_header_one section_padding_100_70">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="kilimanjaro_part">
                <h5>About Us</h5>
              <p>  Posh Boutique Ug is an online clothing store that sells stylish and affordable women's clothing in Kampala, Uganda.
                 We offer a wide variety of styles and sizes to fit every taste and body type, including dresses, skirts, tops, pants,jewerly and accessories.
                </p> 

               <p> We're committed to providing our customers with the best possible shopping experience. </p>
                <p>We're proud to be a part of the Kampala community and we're committed to supporting local businesses.</p> 
                <p>We're always looking for new ways to improve our business and we're always listening to our customers'  <a href="#contact" style="color: rgb(65, 200, 65);">feedback</a>.
                
                Thank you for choosing Posh Boutique!</p>
            </div>
            <div class="kilimanjaro_part m-top-15">
                <h5>Social Links</h5>
                <ul class="kilimanjaro_social_links">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="kilimanjaro_part">
                <h5>Categories</h5>
                <ul class=" kilimanjaro_widget">
                    <% categories[0].forEach(category=>{ %>

                        <%   const {categoryName, categoryPhoto}=category.fields; %>
                        <% const { url } = categoryPhoto.fields.file; %>
                        <% const imageUrl = `https:${url}` %>
                        <li><a href="/categories/<%=category.sys.id%>"><%=categoryName%></a></li>
                  <% }) %>                 
                </ul>
            </div>

            <div class="kilimanjaro_part m-top-15">
                <h5>Important Links</h5>
                <ul class="kilimanjaro_links">
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Licences</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Help & Support</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Careers</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Community & Forum</a></li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="kilimanjaro_part">
               </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="kilimanjaro_part">
                <h5>Quick Contact</h5>
                <div class="kilimanjaro_single_contact_info">
                    <h5>Phone:</h5>
                    <p>+256 255 54 53 52 <br> +256 255 53 52 51</p>
                </div>
                <div class="kilimanjaro_single_contact_info">
                    <h5>Email:</h5>
                    <p>support@email.com <br> company@email.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Footer Bottom Area Start -->
<div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>© All Rights Reserved. <a href="#">Posh Boutique Uganda<i class="fa fa-love"></i></a></p>
        </div>
    </div>
</div>
</div>
</footer>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/public/js/main.js"></script> -->
    <script src="/public/lib/owlcarousel/owl.carousel.min.js"></script>

    <script src="/public/js/index.js"></script>
</body>
</html>